[user]
	name = DolphinPL
	email = rodolfopl.98@hotmail.com
	
	name = laisrtorres
	email = laisribeirotorres@yahoo.com.br
	
	name = maukeka
	email = mauriciokenichi@hotmail.com
	
	name = SanHeacles
	email = samuel_dsn@hotmail.com
	
	name = 2marco1paulo
	email = marcospaulocarvalho2512@gmail.com
[credential]
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credencial]
	helper = wincred
	helper = antoni-s
[credential]
	helper = wincred
